@import 'global';
@import 'vars';
@import 'fonts';

// HEADER
header{
  background-color: #3853d8;
  color: #ffffff;
  z-index: 10;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo{
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
  color: #fff;
}
.header__menu{
  margin-right: auto;
  margin-left: 100px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  ul{
    display: flex;
  }
  li + li{
    padding-left: 30px;
  }
  a{
    color: #ffffff;
  }
  .home{
    position: relative;
    padding-right: 20px;
    &::before{
      position: absolute;
      content: "\f123";
      font-family: "Ionicons";
      font-size: 12px;
      right: 0;
      top: 1px;
    }
  }
}
.header__bar-inner{
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
}
.bar__sign-up{
  padding-left: 20px;
  padding-right: 48px;
}
.header__bar-icons{
  font-size: 30px;
  display: flex;
  text-align: center;
}
.bar__basket{
  &::before{
    content: "\f110";
    font-family: "Ionicons";
  }
}
.bar__search{
  margin-left: 35px;
  &::before{
    content: "\f21f";
  font-family: "Ionicons";
  }
}

// SLIDER-TOP
.slider-top{
  padding-top: 15px;
  height: 700px;
  background-color: #3853d8;
}
.slider-top__inner{
  position: relative;
  .slick-prev{
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
  }
  .slick-next{
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
  }
  .slick-prev::before{
    z-index: 1;
    color: #fff;
    position: absolute;
    top: 300px;
    left: 0;
    content: "\f2ca";
    font-family: "Ionicons";
    font-size: 60px;
  }
  .slick-next::before{
    position: absolute;
    color: #fff;
    top: 300px;
    right: 0;
    content: "\f30f";
    font-family: "Ionicons";
    font-size: 60px;
  }
}
.slider-back__text{
  width: 712px;
  font-weight: 900;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 190px;
  position: absolute;
  color: #0021c4;
  font-size: 150px;
  text-transform: uppercase;
}
.slider-top__slider{
  margin-top: -50px;
  text-align: center;
  
}
.slider-top__slider-item{
  height: 766px;
}
.slider-top__images{
  position: absolute;
  width: 560px;
  height: 766px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-left: 220px;
}
.slider-top__box{
  padding-top: 300px;
  color: #ffffff;
}
.slider-top__title{
  font-weight: 900;
  font-size: 72px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}
.slider-top__text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #ffffff;
  padding: 17px 44px;
  background-color: #3853d8;
  border-radius: 30px;
}

// ADVANTAGES
.advantages__inner{
  max-width: 1283px;
  top: -60px;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border: 1px solid #d3d3d3;
  padding: 35px 0;
  border-radius: 4px;
}
.advantages__item{
  max-width: 300px;
  width: 100%;
  & + &{
    border-left: 1px solid #d3d3d3;
  }
}
.advantages__item-info{
  margin: 0 auto;
  width: 215px;
  height: 50px;
  padding-left: 50px;
  position: relative;
  &::before{
    font-size: 50px;
    color: #999999;
    position: absolute;
    top: -7px;
    left: 0;
  }
  &.paperlane::before{
    content: "\f473";
    font-family: "Ionicons";
  }
  &.sync::before{
    font-size: 50px;
    content: "\f3b1";
    font-family: "Ionicons";
  }
  &.card::before{
    top: 0px;
    font-size: 36px;
    content: "\f119";
    font-family: "Ionicons";
  }
  &.person::before{
    content: "\f47d";
    font-family: "Ionicons";
  }
}
.advantages__item-title{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 24px;
}
.advantages__item-text{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #999999;
}

// PRODUCTS
.products__inner{
  max-width: 1283px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  button{
    position: relative;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0 auto;
    padding-left: 18px;
    margin-bottom: 47px;
    &::before{
      position: absolute;
      font-size: 14px;
      content: "\f3b1";
      font-family: "Ionicons";
      color: $blue;
      left: 0;
      transform: rotate(270deg);
    }
  }
}
.products__item{
  position: relative;
  text-align: center;
  width: 298px;
  height: 298px;
  border: 1px solid #d3d3d3;
  margin-bottom: 30px;
  &:hover{
    .products__item-sale{
      top: 20px;
      box-shadow: 0 5px 10px rgba(0,0,0,.5), 0 5px 5px rgba(0,0,0,0.4);
    }
  }
}
.products__item-sale{
  transition: all .3s;
  top: 25px;
  right: 28px;
  position: absolute;
  padding: 4px 10px;
  border-radius: 6px;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: $blue;
}
.products__item-img{
  margin-top: 30px;
  margin-bottom: 25px;
  a{
    height: 165px;
  }
}
.products__item-name{
  text-align: left;
  padding-left: 27px;
  margin-bottom: 13px;
}
.products__item-price{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: left;
  padding-left: 27px;
  color: $blue;
  span{
    color: #999999;
    text-decoration: line-through;
    padding-right: 20px;
  }
}
.products__item-popular{
  text-align: center;
  width: 298px;
  height: 298px;
  margin-bottom: 30px;
  background-color: #232323;
  a:hover{
    .products__item-popular__btn::before{
      right: -10px;
    }
    .products__item-popular__text::before{
      color: rgb(124, 60, 60);
    }
  }
}
.products__item-popular__text{
  position: relative;
  margin-top: 148px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  &::before{
    transition: all .3s;
    position: absolute;
    content: "\f42e";
    font-family: "Ionicons";
    bottom: 42px;
    font-size: 56px;
    color: $blue;
    left: 0;
    right: 0;
  }
}
.products__item-popular__btn{
  padding-right: 25px;
  display: inline-block;
  position: relative;
  color: #fff;
  margin-top: 48px;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  &::before{
    position: absolute;
    content: "\f30f";
    font-family: "Ionicons";
    right: 2px;
    font-weight: 700;
    transition: all .3s;
  }
}
.products__item-banner{
  width: 954px;
  position: relative;
  &:hover{
    .banner__item__btn{
      margin-top: -5px;
      box-shadow: 0 5px 10px rgba(0,0,0,.2), 0 5px 5px rgba(0,0,0,0.2);
    }
  }
}
.products__item-banner__img{
  position: absolute;
  top: 0;
  width: 954px;
  height: 298px;
}
.products__item-banner__item{
  padding-left: 90px;
  padding-top: 50px;
}
.banner__item-new{
  padding: 2px 10px;
  border-radius: 6px;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $blue;
  background-color: #fff;
  margin-bottom: 45px;
}
.banner__item-suptitle{
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
.banner__item-title{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.banner__item__btn{
  text-transform: uppercase;
  display: inline-block;
  padding: 11px 30px;
  background-color: #fff;
  color: $blue;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: all .3s;
  span{
    padding-right: 20px;
    margin-right: 20px;
    border-right: 2px solid $blue;
  }
}

// SLIDER
  .slider__inner{
    position: relative;
    margin-bottom: 28px;
    .slick-prev{
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
    .slick-next{
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
    .slick-prev::before{
      z-index: 1;
      color: #fff;
      position: absolute;
      top: 220px;
      left: 120px;
      content: "\f124";
      font-family: "Ionicons";
      font-size: 36px;
    }
    .slick-next::before{
      position: absolute;
      color: #fff;
      top: 220px;
      right: 120px;
      content: "\f125";
      font-family: "Ionicons";
      font-size: 36px;
    }
  }
  .slider__slider{
    height: 400px;
  }
  .slider-img{
    top: 0;
    position: absolute;
    width: 1366px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
  .slider__wrapper{
    // position: absolute;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .slider__suptitle{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding-top: 150px;
  }
  .slider__title{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 10px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    li + li{
      margin-left: 16px;
    }
    li{
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #999;
      cursor: pointer;
    }
    button{
      display: none;
    }
    .slick-active{
      background-color: #fff;
    }
  }

  // CLOTHES
  .clothes__inner{
    display: flex;
    justify-content: space-around;
  }
  .clothes__item{
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    width: 628px;
    height: 321px;
    background-color: #d4bdad;
    margin-bottom: 30px;
  }
  .clothes__box{
    max-width: 350px;
  }
  .clothes__box-suptitle{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 84px;
    font-size: 14px;
  }
  .clothes__box-title{
    color: #fff;
    font-weight: 700;
    margin-bottom: 47px;
    font-size: 30px;
  }
  .clothes__box-price{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  .clothes__img{
    width: 321px;
  }

  // FASHION
  .fashion{
    margin-bottom: 75px;
  }
  .fashion__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
  }
  .fashion__aside{
    width: 300px;
    height: 500px;
    position: relative;
    border: 1px solid #d5d5d6;
  }
  .fashion__aside-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 500px;
    width: 298px;
    z-index: -1;
  }
  .fashion__aside-wrapper{
    text-align: center;
    color: #fff;
    padding: 50px;
  }
  .fashion__aside-suptitle{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 80px;
  }
  .fashion__aside-num{
    font-size: 100px;
    margin-bottom: 30px;
  }
  .fashion__aside-title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 80px;
  }
  .fashion__aside-btn{
    color: #fff;
    font-size: 12px;
    padding: 10px 27px;
    background-color: $blue;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .fashion__inner{
    width: 955px;
    height: 500px;
    border: 1px solid #d5d5d6;
  }
  .fashion__tabs-inner{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #d5d5d6;
    & .controls{
      display: flex;
      position: relative;
      .btn-default{
        width: 80px;
        height: 80px;
        position: relative;
      }
      .slick-prev{
        cursor: pointer;
        border: none;
        border-left: 1px solid #d5d5d6;
      }
      .slick-next{
        cursor: pointer;
        border: none;
        border-left: 1px solid #d5d5d6;
      }
      .slick-prev::before{
        color: #232323;
        position: absolute;
        top: 50%;
        left: 50%;
        content: "\f124";
        font-family: "Ionicons";
        font-size: 14px;
        transform: translate(-50%, -50%);
      }
      .slick-next::before{
        position: absolute;
        color: $black;
        top: 50%;
        right: 50%;
        content: "\f125";
        font-family: "Ionicons";
        font-size: 14px;
        transform: translate(50%, -50%);
      }
    }
    & li{
      display: none;
      color: $black;
      font-size: 20px;
    }
    & li.current{
      display: block;
    }
  }

.box {
    display: none;
    padding: 0px !important;
    // background-color: #FFF;
}
.box.visible {
    display: block;
    padding: 10px;
}
ul.tabs {
    background: #FFF;
    padding: 0 4px;
    overflow: hidden;
    list-style: none;
}
// .tabs li.current, .tabs li:hover {
//     // background-color:#52c8ff;
//     // color:#FFFFFF;
//     // border-color:#52c8ff;
//     // border-left-style: solid;
//     // border-right-style: solid;
//     // border-top-style: solid;
// }
.tabs li {
    color: $black;
    font-size: 14px;
    padding-left: 80px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.tabs li.current span {
    color: #FFF;
}
.tabs li span {
    float: left;
    padding: 0 11px 0 0;
    height: 27px;
    color: #FFF;
}

.fashion__box-inner{
  display: flex;
  justify-content: space-around;
  padding: 0px 30px;
  height: 420px;
  align-items: center;
  // border-bottom: 1px solid #d5d5d6;
}
.fashion__box-head{
  border: 1px solid #d5d5d6;
  width: 578px;
  height: 319px;
}
.fashion__box-aside{
  max-width: 260px;
}
.fashion__box-head__img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 319px;
  width: 576px;
}
.fashion__box-head__wrapper{
  padding-top: 180px;
  padding-left: 50px;
  max-width: 275px;
  color: #fff;
  .icon-comments::before{
    position: absolute;
    left: 0;
  }
  .icon-clock-o::before{
    position: absolute;
    left: 0;
    top: 1px;
  }
}
.fashion__box-head__date{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 15px;
  padding-left: 18px;
  position: relative;
}
.fashion__box-head__title{
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}
.fashion__box-head__comm{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-left: 19px;
  position: relative;
  span{
    padding-right: 15px;
    margin-right: 34px;
    border-right: 1px solid #fff;
    &::before{
      position: absolute;
      content: "\f004";
      font-family: 'icomoon';
      left: 60px;
    }
  }
}
.fashion__box-aside{
  height: 319px;
}
.fashion__box-aside__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.fashion__box-aside__wrapper{
  max-width: 120px;
  position: relative;
  color: #999;
  margin-left: 30px;
  .fashion__box-head__title{
    color: $black;
  }
  span{
    border-right: 1px solid #999999;
  }
  .icon-comments::before{
    position: absolute;
    left: 0;
  }
  .icon-clock-o::before{
    position: absolute;
    left: 0;
    top: 1px;
  }
}
.fashion__box-aside__view{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  &::before{
    position: absolute;
    content: "\f30f";
    font-family: "Ionicons";
    right: -28px;
    font-weight: 700;
    transition: all .3s;
  }
}
.icon-comments:hover:before{
  color: red;
}

// LOGOTYPE
.logotype__inner{
  padding-left: 50px;
  margin-bottom: 85px;
  // max-width: 1010px;
  button{
    width: 0;
    height: 0;
  }
  .slick-prev{
    cursor: pointer;
    border: none;
    background-color: none;
  }
  .slick-next{
    cursor: pointer;
    border: none;
    background-color: none;
  }
  .slick-prev::before{
    z-index: 1;
    color: #999999;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "\f124";
    font-family: "Ionicons";
    font-size: 36px;
    transition: all .3s;
  }
  .slick-next::before{
    position: absolute;
    color: #999999;
    top: 0px;
    right: 0px;
    content: "\f125";
    font-family: "Ionicons";
    font-size: 36px;
    transition: all .3s;
  }
  .slick-arrow:hover::before,
  .slick-arrow:focus::before{
    color: $blue;
  }
  .slick-arrow.slick-next{
    position: absolute;
    color: #999999;
    top: 0px;
    right: -50px;
    transition: all .3s;
    outline: none;
    background-color: transparent;
  }
  .slick-arrow.slick-prev{
    position: absolute;
    color: #999999;
    top: 0px;
    left: -50px;
    transition: all .3s;
    outline: none;
    background-color: transparent;
  }
}
.logotype__img{
  width: 153px;
  height: 62px;
}

// FOOTER
.footer{
  background-color: #363637;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 43px;
}
.footer__main-logo{
  font-weight: 900;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 55px;
}
.footer__main-link{
  display: flex;
  a{
    margin-right: 20px;
    color: #999999;
    transition: all .3s;
    &:hover{
      color: #fff;
    }
  }
}
.footer__head-menu{
  margin-bottom: 65px;
  ul{
    display: flex;
    li{
      transition: all .5s;
    }
    a{
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      &:hover{
        text-decoration: underline;
      }
    }
    li + li{
      margin-left: 35px;
    }
  }
}
.footer__head-form{
  input{
    width: 320px;
    height: 40px;
    padding-left: 30px;
    margin-right: 20px;
    &::placeholder{
      color: #8e8e8e;
    }
  }
  button{
    width: 140px;
    height: 40px;
    border: none;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
}
.footer__head-form__title{
  margin-bottom: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.footer__contact{
  max-width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer__contact-title{
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer__contact-text{
  margin-bottom: 40px;
  a{
    color: #fff;
  }
}
.footer__contact-cards{
  
}



